@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #04061e;
}

@layer base {
  .markdown-styling h1,
  .markdown-styling h2,
  .markdown-styling h3,
  .markdown-styling h4,
  .markdown-styling h5,
  .markdown-styling h6,
  .markdown-styling-2 h1,
  .markdown-styling-2 h2,
  .markdown-styling-2 h3,
  .markdown-styling-2 h4,
  .markdown-styling-2 h5,
  .markdown-styling-2 h6 {
    margin-top: 1em;
    margin-bottom: -0.2em;
    font-weight: bold;
  }

  .markdown-styling h1 {
    font-size: 2em;
  }

  .markdown-styling h2 {
    font-size: 1.75em;
  }

  .markdown-styling h3 {
    font-size: 1.5em;
  }

  .markdown-styling-2 h1 {
    font-size: 1.75em;
  }

  .markdown-styling-2 h2 {
    font-size: 1.5em;
  }

  .markdown-styling-2 h3 {
    font-size: 1.2em;
  }

  .markdown-styling ul,
  .markdown-styling ol,
  .markdown-styling-2 ul,
  .markdown-styling-2 ol {
    margin-left: 2em;
    list-style-type: disc;
  }

  .markdown-styling p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .markdown-styling-2 p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins.woff2") format("woff2"),
    url("/fonts/poppins.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

.font-sans {
  font-family: var(--font-poppins), sans-serif;
}

.font-poppins {
  font-family: "Poppins";
}

.navglass {
  background: rgba(4, 4, 4, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.mask-image-fade {
  mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.invert-hover:hover {
  filter: invert(100%) !important;
  transition: filter 0.2s ease;
}
