@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .section-blue-purple {
    position: relative;
    background: rgba(23,23,23,1) 10%;
  }
  .parent-hover:hover .animate-infinite-scroll {
      animation-play-state: paused !important;
  }
  .parent-hover2:hover .animate-infinite-scroll-rev {
      animation-play-state: paused !important;
  }
}